<div class="d-flex justify-center pb-8 pt-8">
    <img src="img/logo.png" alt="Focu - Financial Control Utility" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/transactions/history">Transactions</MudNavLink>
    <MudNavLink Href="/categories">Categories</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/logout">Log out</MudNavLink>
</MudNavMenu>